.service-icon {
  color: #0dcaf0;                    
  transition: transform .3s ease, 
              filter .3s ease, 
              color  .3s ease;
}


.team-card {
  transition: box-shadow .3s ease, transform .3s ease;
}

.team-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 10px 2px rgba(13, 202, 240, .6),   
              0 0 20px 6px rgba(13, 202, 240, .35);  
}


.glow-hover {
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 2px rgba(0,0,0,.9));
  margin-top: 12px;
}

.glow-hover:hover {
  transform: scale(1.05);
  filter:
    drop-shadow(0 0 4px #0dcaf0)   
    drop-shadow(0 0 3px #0dcaf0); 
}

.service-icon:hover,
.card:hover .service-icon {
  transform: scale(1.3);
  filter: drop-shadow(0 0 6px  #0dcaf0)   
          drop-shadow(0 0 12px #0dcaf0);
  color: #5ff;                            
}
footer.site-footer {
  background-color: #0b0d11;      
  border-top: 1px solid rgba(255, 255, 255, 0.244); 
}


.info-icon {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-icon:hover {
  transform: scale(1.2);
  filter:
    drop-shadow(0 0 4px #0dcaf0)   
    drop-shadow(0 0 6px #0dcaf0);
}
